
.sub-main-content {
  display: flex;
  overflow: hidden;
}

.my-app-sidebar {
  flex: 1;
}
.app-nav-bar {
}



.main-content {
  flex: 5;
  overflow-y: scroll;

}

.content-container {
  background-color: #f4f4f9;
  height: 100%;
  overflow-y: scroll;

}
