<div class="sub-main-content">

  <div class="my-app-sidebar">
    <app-sidebar *ngIf="!isLoginPage && !isRegisterPage"></app-sidebar>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <div class="app-nav-bar">
      <!-- Masquer la navbar si sur la page login ou register -->
      <app-navbar *ngIf="!isLoginPage && !isRegisterPage"></app-navbar>
    </div>

    <!-- Page Content -->
    <div class="content-container">
      <router-outlet></router-outlet> <!-- Ceci est l'endroit où le contenu change -->
    </div>
  </div>
</div>