/* Sidebar */



.sidebar {
  background-color: var( --primary-color-1); /* Même bleu que la navbar */
  color: white; /* Texte en blanc */
  height: 100%;
  min-height: 100vh;
  padding-top: 20px;
  text-align: center;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: auto;
}

hr {
  margin: 30px 0px;
}
.sidebar .nav-item {
  padding: 5px 20px;
  width: 100%;
}

.sidebar .nav-item a {
  color: white; /* Couleur des liens en blanc */
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px;

}

.sidebar .nav-item a:hover {
  background-color: #3498db; /* Bleu foncé au survol */
  border-radius: 5px; /* Arrondir les coins */
}