/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color-5: #D0D3DE;
    --primary-color-3: #509CDB;
    --primary-color-1: #152259;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
